<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody>
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>  
    <tr class="vacancy"> 
     <td class="title" href="https://spb.hh.ru/vacancy/32169316?query=java%20java%20Dnepropetrovsk">Java developer (strong junior)</td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">ООО ДБО Софт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://spb.hh.ru/vacancy/32120637?query=java%20java%20Dnepropetrovsk">Junior Android Developer</td> 
     <td class="city">Днепр (Днепропетровск), Вокзальная</td> 
     <td class="companyName">PFSOFT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://spb.hh.ru/vacancy/31808931?query=java%20java%20Dnepropetrovsk">Software Quality Assurance Engineer</td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">Emergn</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://spb.hh.ru/vacancy/31941075?query=java%20java%20Dnepropetrovsk">QA Engineer</td> 
     <td class="city">Днепр (Днепропетровск), Вокзальная</td> 
     <td class="companyName">Emergn</td> 
     <td class="salary">500-1&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://spb.hh.ru/vacancy/31941118?query=java%20java%20Dnepropetrovsk">Solution Architect</td> 
     <td class="city">Днепр (Днепропетровск), Вокзальная</td> 
     <td class="companyName">Emergn</td> 
     <td class="salary">3&nbsp;500-4&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://spb.hh.ru/vacancy/31861033?query=java%20java%20Dnepropetrovsk">FullStack Java розробник</td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">Smart Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://spb.hh.ru/vacancy/31851122?query=java%20java%20Dnepropetrovsk">DevOps Engineer</td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">Smart Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://spb.hh.ru/vacancy/32169129?query=java%20java%20Dnepropetrovsk">Front-End Javascript developer (Angular 2+, strong junior)</td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">ООО ДБО Софт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://spb.hh.ru/vacancy/31941065?query=java%20java%20Dnepropetrovsk">Javascript (ES6) developer</td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">ИП Devsteam.mobi</td> 
     <td class="salary">11&nbsp;200-28&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://spb.hh.ru/vacancy/31773390?query=java%20java%20Dnepropetrovsk">Front-end Developer (React, JS)</td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">ООО Artkai</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051546">Middle/Senior QA Automation</td> 
     <td class="city">Севастополь</td> 
     <td class="companyName">Hunt4You</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000048243">Старший программист серверной части/Senior server side developer (Java)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Banzai.Games</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000023151">Ведущий Java-разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">8BIT GROUP</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051529">Team Lead</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051820">Backend Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Weekend Agency</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000045911">Back-end разработчик Сбербанк Бизнес онлайн</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051849">PHP Backend разработчик</td> 
     <td class="city">Королев</td> 
     <td class="companyName">ООО "Медиа Ком"</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051530">Java Developer | Java Разработчик</td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">App-Smart</td> 
     <td class="salary">От 1 500 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000049118">Java-разработчик</td> 
     <td class="city">Волгоград</td> 
     <td class="companyName">Migo group</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000049691">Программист- стажер (ABAP)</td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Migo group</td> 
     <td class="salary">От 16 000 до 25 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000049088">Программист- стажер (ABAP)</td> 
     <td class="city">Волгоград</td> 
     <td class="companyName">Migo group</td> 
     <td class="salary">От 16 000 до 25 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051830">Архитектор ПО</td> 
     <td class="city">Москва</td> 
     <td class="companyName">ИНФОРИОН</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051829">Java-разработчик</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Первый ОФД</td> 
     <td class="salary">От 60 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000046719">Разработчик мобильных приложений (Android, iOS)</td> 
     <td class="city">Астрахань</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">От 65 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000047619">Программист Java (middle или senior на новый проект)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ITigris</td> 
     <td class="salary">От 150 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000045322">Front-end developer Java Script Vue.js (middle/senior)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ITigris</td> 
     <td class="salary">От 150 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051391">QlikView разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051827">SCALA DEVELOPER (JAVA / C++ / С# / PYTHON)</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Naumen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000032430">Java/Web разработчик</td> 
     <td class="city"></td> 
     <td class="companyName">AgriTask</td> 
     <td class="salary">От 1 000 до 2 800 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051689">Разработчик отчетов SQL и Groovy (Java)</td> 
     <td class="city"></td> 
     <td class="companyName">AgriTask</td> 
     <td class="salary">От 700 до 1 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051688">Ведущий Android-разработчик</td> 
     <td class="city"></td> 
     <td class="companyName">Дзен-мани</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000034151">Бэкенд-разработчик</td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000027966">Бэкенд-разработчик (Ruby on Rails)</td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000034150">Бэкенд-разработчик (Ruby on Rails)</td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051608">Android Developer Sr</td> 
     <td class="city"></td> 
     <td class="companyName">SquareGPS</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051373">Java Developer / Разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Леруа Мерлен</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051811">Team Lead / Руководитель отдела web разработки (php + js) фреймворк ﻿Laravel</td> 
     <td class="city">Москва</td> 
     <td class="companyName">W12.io</td> 
     <td class="salary">От 150 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051162">Разработчик Python/ Python Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051164">Ведущий разработчик Python/ Senior Python Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000050910">Java-разработчик на проект Единый Розничный Интернет Банк</td> 
     <td class="city">Самара</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051793">QA специалист (автоматизированное тестирование)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">АКМЭ сервис</td> 
     <td class="salary">От 90 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051784">Frontend-разработчик (middle+/senior)</td> 
     <td class="city"></td> 
     <td class="companyName">Big Fish</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000047585">Java разработчик</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051313">Back End Developer - Удаленная Работа</td> 
     <td class="city">Смоленск</td> 
     <td class="companyName">ExpressFromUS.com</td> 
     <td class="salary">От 100 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051631">Java разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Denim</td> 
     <td class="salary">От 140 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000049592">Java Backend Разработчик</td> 
     <td class="city"></td> 
     <td class="companyName">Blackbird Ventures</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000047439">Java разработчик (fullstack)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">НТЦ ПРОТЕЙ</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000049966">Java Developer</td> 
     <td class="city">Тверь</td> 
     <td class="companyName">Accenture</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051622">Android разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Denim</td> 
     <td class="salary">От 140 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051780">PHP - программист</td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Legalbet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051779">senior golang</td> 
     <td class="city">Москва</td> 
     <td class="companyName">ТОП СЕГМЕНТ</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051764">Java разработчик</td> 
     <td class="city">Ижевск</td> 
     <td class="companyName">БИТ «Мастер»</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051772">Java разработчик (Team lead)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">НТЦ ПРОТЕЙ</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051306">Frontend/Mobile apps Developer</td> 
     <td class="city">Будва</td> 
     <td class="companyName">Ornament.Health</td> 
     <td class="salary">От 2 500 до 3 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051770">QA Team Lead</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wheely</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051685">PHP-разработчик</td> 
     <td class="city">Омск</td> 
     <td class="companyName">Суши-Маркет</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051607">Java разработчик решения Synapse</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051311">Cпециалист по автоматизации тестирования/QA - Engineer/Automation Engineer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051191">Frontend разработчик (React)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Plarin</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051759">Системный аналитик в платёжную систему</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Anchous Drive Recruitment</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051213">Разработчик Progressive Web Applications (PWA)</td> 
     <td class="city"></td> 
     <td class="companyName">Beta Company</td> 
     <td class="salary">От 1 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051464">QA инженер</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary">От 98 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051756">Lead DevOps (Security Operation Centre)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051701">QA (инженер по качеству)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">HFLabs</td> 
     <td class="salary">От 130 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051750">Node.js разработчик</td> 
     <td class="city"></td> 
     <td class="companyName">NEXTRP</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051585">Frontend-разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ticketland.ru</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000050313">Lead Android Developer (remote)</td> 
     <td class="city"></td> 
     <td class="companyName">Whisk</td> 
     <td class="salary">От 4 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000024765">Android разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">RentaTeam</td> 
     <td class="salary">От 120 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051298">Старший/Ведущий Full Stack разработчик</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Open Media</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000050863">Senior Android Developer (MobileApp)</td> 
     <td class="city">Севастополь</td> 
     <td class="companyName">Hunt4You</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051339">Full Stack Developer</td> 
     <td class="city">Долгопрудный</td> 
     <td class="companyName">Инжиниринговый центр МФТИ</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051719">Experienced Developers</td> 
     <td class="city">Минск</td> 
     <td class="companyName">Cerebellum Network</td> 
     <td class="salary">От 2 500 до 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043199">Senior Java Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMS</td> 
     <td class="salary">От 150 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051738">QA Engineer Wanted</td> 
     <td class="city">Москва</td> 
     <td class="companyName">OffsideGaming</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051398">Ведущий инженер по нагрузочному тестированию</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary">От 90 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000026581">Android developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Dialog</td> 
     <td class="salary">От 180 000 до 240 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000050566">Frontend-разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Dialog</td> 
     <td class="salary">От 180 000 до 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000050565">Senior Android Developer (UCC)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Dialog</td> 
     <td class="salary">От 200 000 до 270 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000046270">DevOps инженер</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Dialog</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051015">Go разработчик (Anti-Fraud)</td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Xsolla</td> 
     <td class="salary">От 50 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051571">QA-инженер / Тестировщик</td> 
     <td class="city">Алматы</td> 
     <td class="companyName">Колёса | Крыша | Маркет</td> 
     <td class="salary">От 250 000 до 550 000 тнг.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000045673">Android разработчик</td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Деньги Сразу</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051728">💻 Full stack developer 💡 JavaScript</td> 
     <td class="city">Москва</td> 
     <td class="companyName">SKILLARY</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051724">Тимлид фронтенд команды в платёжную систему</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Anchous Drive Recruitment</td> 
     <td class="salary">От 250 000 до 350 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000049270">Вackend - разработчик</td> 
     <td class="city">Самара</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000050083">Lead QA Automation (финансовые системы)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040517">Middle/Senior Java разработчик (Back-end)</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Ao1 Solution</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051705">Frontend Developer (релокация в EU*)</td> 
     <td class="city"></td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051686">Android разработчик (г. Пенза)</td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Eastwood</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000050659">Главный инженер по тестированию/ QA engineer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО "Промсвязьбанк"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051662">Web-разрабочик (middle)</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Reverse Systems</td> 
     <td class="salary">От 60 000 до 95 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051664">Пентестер</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Chenii</td> 
     <td class="salary">От 1 500 до 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043016">Тестировщик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">ИнЭкс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000050229">Java-разработчик</td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051654">Senior Oracle+Java developer/ Ведущий oracle/java разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Sportmaster Lab</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051653">Full-stack разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Sportmaster Lab</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051652">Senior Java developer/ старший программист Java(ProductGate)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Sportmaster Lab</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000047526">Инженер-программист Java / Software Developer Java</td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">Libertex Group</td> 
     <td class="salary">От 90 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051627">PHP разработчик для поддержки и развития ряда проектов</td> 
     <td class="city"></td> 
     <td class="companyName">7 level</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051628">Ведущий инженер автоматизации тестирования</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051626">Инженер по разработке скриптов нагрузочного тестирования</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051625">Ведущий инженер нагрузочного тестирования</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000047880">Senior Java Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Profee.Lab</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051613">Java Backend Developer (Relocation to EU*)</td> 
     <td class="city"></td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051601">Senior software engineer - test automation and DevOps (удаленно full-time)</td> 
     <td class="city"></td> 
     <td class="companyName">DataDirect Networks Inc. (DDN)</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051599">Android разработчик</td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Appstockus Ltd</td> 
     <td class="salary">От 50 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051595">Team Lead / Руководитель группы разработки</td> 
     <td class="city">Москва</td> 
     <td class="companyName">MillionAgents</td> 
     <td class="salary">От 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051582">Frontend-разработчик Vue.js</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">АКМЭ сервис</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051421">Программист PHP</td> 
     <td class="city"></td> 
     <td class="companyName">ГК Фалькон</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051577">Java-разработчик (Москва)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">HFLabs</td> 
     <td class="salary">От 195 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000027502">Разработчик Android</td> 
     <td class="city">Москва</td> 
     <td class="companyName">tvzavr</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043826">Data Engineer</td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051526">Quality Assurance engineer</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051527">Системный аналитик</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051521">Junior Java Developer</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051523">Python Developer</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000049869">Senior Backend developer (Ruby/Go)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wheely</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051543">Java Tech Lead</td> 
     <td class="city">Москва</td> 
     <td class="companyName">МойСклад</td> 
     <td class="salary">От 250 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051536">Разработчик мобильного приложения (React Native)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000050355">Ведущий разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051533">Android разработчик</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">АКМЭ сервис</td> 
     <td class="salary">От 80 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051534">Senior Java Developer (Algo-trading platform)</td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000047966">Android developer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">iGooods.ru</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051518">Senior/Middle Java Developer</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000050761">Backend - разработчик (Java)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">101XP</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051516">Java Developer</td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TEAMIDEA</td> 
     <td class="salary">От 70 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000050255">Senior Android Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">ManyChat</td> 
     <td class="salary">От 180 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051085">Команда C++ программистов</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Exec-search.ru</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051459">Java Team Lead</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Доктор рядом</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000033185">Java разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">МойСклад</td> 
     <td class="salary">От 140 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000044188">Senior Java разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">МойСклад</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000049127">Frontend разработчик (Senior)</td> 
     <td class="city">Иваново</td> 
     <td class="companyName">ГК "ЦИФРА"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051506">Senior / Lead QA</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Walli</td> 
     <td class="salary">От 70 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051488">iOS / Android разработчик</td> 
     <td class="city"></td> 
     <td class="companyName">Patephone</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043978">Senior QA Engineer</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Acme Crypto Corp</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051484">Инженер-тестировщик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Health Gorilla</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000048213">Android Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Dodo Pizza</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051473">Java Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051472">Разработчик Oracle BPM</td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000048526">Java Developer/разработчик Java</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Health Gorilla</td> 
     <td class="salary">От 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000049631">Android-разработчик</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ЭЛКОМ+</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000046527">Backend-разработчик</td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Холдинг GLORYON</td> 
     <td class="salary">От 70 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051427">Back-end разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Finch</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051424">Junior Android разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Finch</td> 
     <td class="salary">До 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051212">Java-разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Банк СКС</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051402">Lead QA Auto Engineer/Perfomance</td> 
     <td class="city">Москва</td> 
     <td class="companyName">ICONIC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051400">Программист 1С-Битрикс / Bitrix разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Студия «Клондайк»</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051365">Android разаботчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">АТОЛ</td> 
     <td class="salary">До 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051369">Backend-разработчик (Java)</td> 
     <td class="city">Тверь</td> 
     <td class="companyName">Oprosso</td> 
     <td class="salary">От 60 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051374">Java разработчик (Middle, Senior)</td> 
     <td class="city">Томск</td> 
     <td class="companyName">HR Method</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041244">Java Developer</td> 
     <td class="city">Тверь</td> 
     <td class="companyName">TEAMIDEA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051345">Архитектор Java</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Softline</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051352">Java - разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Litota Labs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000045794">Middle Android разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Finch</td> 
     <td class="salary">До 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000045266">Backend Developer (Middle/Senior)</td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Xsolla</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000049987">Node.js developer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Kosmos</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000032800">Разработчик Java</td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000046326">Android разработчик</td> 
     <td class="city"></td> 
     <td class="companyName">Где мои дети</td> 
     <td class="salary">До 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051316">Android developer</td> 
     <td class="city"></td> 
     <td class="companyName">3205.today</td> 
     <td class="salary">От 3 000 до 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000048977">Native Android Developer</td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Студия Олега Чулакова</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051254">Разработчик Java/Javascript</td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">OptiPlat MC</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000035947">Специалист QA/Специалист по тестированию</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Деловая среда от Сбербанка</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000049866">Android developer</td> 
     <td class="city"></td> 
     <td class="companyName">ITLAVKA</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000051274">Frontend-React разработчик (full time работа)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">AIM Systems</td> 
     <td class="salary">От 50 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody>
  </table>  
 </body>
</html>